.colors {
    margin: 0 auto;
    padding: 1% 0;
    max-width: 1200px;
    display: grid;
    grid-gap: 10px 50px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.colors__colorBox {
    cursor: pointer;
    height: 250px;
    padding: 8px;
    overflow: hidden;
    position: relative;
    background: white;
    border-radius: 6px;
}

.colors__colorsList {
    height: 85%;
    display: grid;
    overflow: hidden;
    border-radius: 5px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.colors__colorInfo {
    color: black;
    height: 15%;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    text-decoration: none;
}

@media (max-width: 1199.98px) {
    .colors {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 575.98px) {
    .colors {
        grid-template-columns: repeat(1, 1fr);
    }
}
